.Day,
/* .EmptySlot, */
.Weekday 
{
  text-align: center;
  height: 50px;
}

.SelectedDay {
  text-align: center;
  height: 50px;
  background-color: peru;
}
.SelectedDay:hover {
  cursor: pointer;
  color: #fff;
}

.Day:hover {
  cursor: pointer;
  color: darkorange;
}

.Weekday {
  font-size: 0.8em;
}
