.CalendarContainer {
  color: #333;
  position: relative;
  margin: 50px auto;
  width: 100%;
  border: 2px solid skyblue;
}

h2 {
  text-align: center;
}

.Calendar {
  background-color: white;
  width: 100%;
}

.CalendarHeader {
  font-size: 25px;
  text-align: center;
}


.RightArrow {
float: right;
margin-right: 10px;
}

.LeftArrow {
float: left;
margin-left: 10px;
}

.CalendarHeader span {
  font-size: 40px;
  margin-top: -10px
}

.CalendarHeader span:hover{
  cursor: pointer;
  color: peru;
}

.Weekday {
  text-align: center;
  height: 30px;
  border: 2px dashed skyblue;
  width: 14.28%
}
